body {
    font-weight: bold;
    color: #02020B
    
}
.uploads-section {
  border-radius: 8px;
  background-color: rgb(220, 211, 161);
  padding: 24px;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  background-color:#7FB069;
  cursor: pointer;
  transition: border-color 0.25s;
}